## Pandas

In [1]:
import pandas as pd
import numpy as np

### Series

In [8]:
s=pd.Series([1,2,3,4,5,6,7,8,9])  #Series 만들기
print(type(s))
print(s.index)  # index를 따로 지정하지 않으면 자동으로 숫자가 기재됨
print(s.dtype)
print(s)       # 출력 결과에서 왼쪽열이 index, 우측 열이 데이터

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=9, step=1)
int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [11]:
# 특정 인덱스명 부여
s.index=['A','B','C','D','E','F','G','H','I']
print(s)

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

In [12]:
s=pd.Series([1,2,3,4,5,6,7,8,9],['A','B','C','D','E','F','G','H','I'])
print(s)

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

In [18]:
print(s.index)  #index만 출력
print(s.values) #값만 출력
print(s['A']) #원하는 데이터만 출력
print(s.A)  #원하는 데이터만 출력

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')
[1 2 3 4 5 6 7 8 9]
1
1

In [20]:
## 슬라이싱 가능
print(s['A':'D'])  #직접 부여한 index 명 활용

A    1
B    2
C    3
D    4
dtype: int64

### Dictionary->Series
- Dictionary : 다른 언어의 Map, Json과 유사

In [26]:
d={'A':10,'D':20,'F':30,'H':40}
print(type(d))
for key,value in d.items() : # 딕셔너리 반복문, items로 key, value를 튜플 형식으로 꺼냄
    print(key,":",value)

print(d['A']) # 딕셔너리 특정 데이터 출력

<class 'dict'>
A : 10
D : 20
F : 30
H : 40
10

In [35]:
s=pd.Series(d)    #딕셔너리를 Series로 변경
print(s.index)
print(s.values)
print(s)
print(s['A'])  #특정 값 출력
print(s.A)     #특정 값 출력

print(s[0:3])  #딕셔너리는 슬라이싱이 불가, 하지만 Series로 변경 후에는 슬라이싱 가능
print(s['A':'F'])

Index(['A', 'D', 'F', 'H'], dtype='object')
[10 20 30 40]
A    10
D    20
F    30
H    40
dtype: int64
10
10
A    10
D    20
F    30
dtype: int64
A    10
D    20
F    30
dtype: int64

## DataFrame

In [38]:
# Dictionary->DataFrame
# 딕셔너리는 value 값에 list 등 여러 값 입력 가능
d={
    'name':['kim','lee','park','jung'],
    'age':[25,30,35,20],
    'tel':['1111-2222','2222-1111','3333-1111','2222-3333']
}
print(type(d))
print(d)

<class 'dict'>
{'name': ['kim', 'lee', 'park', 'jung'], 'age': [25, 30, 35, 20], 'tel': ['1111-2222', '2222-1111', '3333-1111', '2222-3333']}

In [40]:
df=pd.DataFrame(d)  #Dictionary->DataFrame
print(df)           #DataFrame 출력 시 테이블 형태로 출력 가능

   name  age        tel
0   kim   25  1111-2222
1   lee   30  2222-1111
2  park   35  3333-1111
3  jung   20  2222-3333

In [42]:
print(df.index)
print(df.columns)
print(df.values)

RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'tel'], dtype='object')
[['kim' 25 '1111-2222']
 ['lee' 30 '2222-1111']
 ['park' 35 '3333-1111']
 ['jung' 20 '2222-3333']]

In [45]:
# index와 colums에 특정 이름 부여 가능
df.index.name = 'Num'
df.columns.name='User'
print(df)

print(df.index)
print(df.columns)

User  name  age        tel
Num
0      kim   25  1111-2222
1      lee   30  2222-1111
2     park   35  3333-1111
3     jung   20  2222-3333
RangeIndex(start=0, stop=4, step=1, name='Num')
Index(['name', 'age', 'tel'], dtype='object', name='User')

In [47]:
# numpy->DataFrame
n=np.array(
    [['kim',20,'1111-2222'],
     ['lee',30,'2222-1111'],
     ['park',35,'3333-2222'],
     ['jung',25,'3333-1111']]
)
print(type(n))

<class 'numpy.ndarray'>

In [51]:
# numpy->DataFrame
df=pd.DataFrame(n)   #index, columns을 별도로 지정하지 않으면 숫자가 자동으로 배정됨
print(df)
print(df.index)
print(df.columns)

      0   1          2
0   kim  20  1111-2222
1   lee  30  2222-1111
2  park  35  3333-2222
3  jung  25  3333-1111
RangeIndex(start=0, stop=4, step=1)
RangeIndex(start=0, stop=3, step=1)

In [53]:
df.columns=['name','age','tel'] #columns 명 변경
df.index=['A','B','C','D']  #index 명 변경
print(df)
print(df.columns)
print(df.index)

   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
Index(['name', 'age', 'tel'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')

In [54]:
df=pd.DataFrame(n,columns=['name','age','tel'],index=['A','B','C','D'])
print(df)

   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111

In [56]:
# 데이터가 잘 들어있는지 확인하기 위해 사용하는 함수
# count : 빈 값이 있는지 확인
# unique : 다 다른 값이 들어있는지 확인하기 위함, 고윳값의 
#          (중복값이 있을 경우 개수가 작아짐, ex) 4 -> 4개의 데이터가 값이 달라!)
# top : 최빈값???
# freq : 최빈값의 빈도???
print(df.describe())

       name age        tel
count     4   4          4
unique    4   4          4
top     kim  20  1111-2222
freq      1   1          1

In [62]:
# 특정 columns만 출력
print(df['name'])  #'name'열만 출력, 한줄만 출력하기 때문에 series 타입으로 출력됨
print(type(df['name']))

A     kim
B     lee
C    park
D    jung
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [61]:
print(df[['name','tel']])  # 'name', 'tel'열만 출력

   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111

In [71]:
# print(df['name'][2])  # 별도 index명이 부여된 상태에서 기본으로 부여되는 숫자로 조회
#                      ->조회 가능 but, 경고문 노출
print(df['name']['C'])
print(df['name'].C)
print(df['name']['B':'D'])

park
park
B     lee
C    park
D    jung
Name: name, dtype: object

In [73]:
print(df.name, df.age) # 특정 열들의 값을 따로따로 꺼내줘

A     kim
B     lee
C    park
D    jung
Name: name, dtype: object A    20
B    30
C    35
D    25
Name: age, dtype: object

In [74]:
print(df.name.C)

park

In [78]:
print(df[:][:])
print(df[:2][:1])  # 위에서 2줄을 꺼낸 후에 거기서 첫번째 1줄을 꺼내라

   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
  name age        tel
A  kim  20  1111-2222

In [81]:
print(df[['name','tel']])
#print(df[[0,2]])   #이미 별도로 배정한 칼럼명이 있기 때문에 숫자로 조회 시 에러 발생
print(df)

   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111

In [83]:
df['address']=['서울','수원','인천','안산']  #새로운 column 추가, 기존에 존재하는 열일 경우 값이 수정됨
print(df)

   name age        tel address
A   kim  20  1111-2222      서울
B   lee  30  2222-1111      수원
C  park  35  3333-2222      인천
D  jung  25  3333-1111      안산

In [93]:
df['adult']=df['age'].astype(np.int64)>30 #astype(np.int64):numpy에서 이용하는 형변환 변수
print(df)

   name age        tel address  adult
A   kim  30  1111-2222      서울  False
B   lee  30  2222-1111      수원  False
C  park  35  3333-2222      인천   True
D  jung  25  3333-1111      안산  False

In [94]:
df['age']['A']=20   #기존에 입력된 데이터 수정 가능
print(df)

   name age        tel address  adult
A   kim  20  1111-2222      서울  False
B   lee  30  2222-1111      수원  False
C  park  35  3333-2222      인천   True
D  jung  25  3333-1111      안산  False

C:\Users\ae397\AppData\Local\Temp\ipykernel_12408\1980487139.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['age']['A']=20   #기존에 입력된 데이터 수정 가능
C:\Users\ae397\AppData\Local\Temp\ipykernel_12408\1980487139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age']['A']=20   #기존에 입력된 데이터 수정 가능

In [95]:
del(df['adult'])   # 열 삭제 가능
print(df)

   name age        tel address
A   kim  20  1111-2222      서울
B   lee  30  2222-1111      수원
C  park  35  3333-2222      인천
D  jung  25  3333-1111      안산

In [99]:
# Series 정렬
s=pd.Series([10,40,50,20,70,60], index=['a','d','f','g','b','c'])
print(s)

a    10
d    40
f    50
g    20
b    70
c    60
dtype: int64

In [103]:
# index 정렬, 기본값=오름차순(trun)/ index 정렬 시 value도 따라서 변경됨
s=s.sort_index()
print(s)

a    10
b    70
c    60
d    40
f    50
g    20
dtype: int64

In [102]:
# index 정렬, 내림차순=False
s=s.sort_index(ascending=False)
print(s)

g    20
f    50
d    40
c    60
b    70
a    10
dtype: int64

In [105]:
# value 정렬 -> values 정렬에 따라 index 정렬도 바뀜
s=s.sort_values()
print(s)

a    10
g    20
d    40
f    50
c    60
b    70
dtype: int64

In [106]:
# value 정렬 -> values 정렬에 따라 index 정렬도 바뀜
s=s.sort_values(ascending=False)
print(s)

b    70
c    60
f    50
d    40
g    20
a    10
dtype: int64

In [143]:
# DataFrame 정렬
## DataFrame 데이터 생성
df=pd.DataFrame([[4,5,1,2],
                 [300,400,200,100],
                 [20,10,40,30]], index=['c','a','b'], columns=['D','C','A','B'])
print(df)

     D    C    A    B
c    4    5    1    2
a  300  400  200  100
b   20   10   40   30

In [117]:
# index로 정렬/ 별도 설정하지 않으면 오름차순
df=df.sort_index()
print(df)

     D    C    A    B
a  300  400  200  100
b   20   10   40   30
c    4    5    1    2

In [126]:
# index로 정렬/ axis 활용 가능 -> axis=0 : '행끼리'를 의미 => 행 기준으로 오름차순
df=df.sort_index(axis=0)
print(df)

     D    C    B    A
a  300  400  100  200
b   20   10   30   40
c    4    5    2    1

In [128]:
# index로 정렬/ 행 기준 내림차순(axis=0 생략 가능, 행 기준이기 때문)
df=df.sort_index(axis=0,ascending=False )
print(df)

     D    C    B    A
c    4    5    2    1
b   20   10   30   40
a  300  400  100  200

In [129]:
# column으로 정렬/ axis 활용 가능 -> axis=1 : '열끼리'를 의미 => 열 기준으로 오름차순
df=df.sort_index(axis=1)
print(df)

     A    B    C    D
c    1    2    5    4
b   40   30   10   20
a  200  100  400  300

In [132]:
# 열 기준으로 내림차순 정렬
df=df.sort_index(axis=1, ascending=False)
print(df)

     D    C    B    A
c    4    5    2    1
b   20   10   30   40
a  300  400  100  200

In [139]:
# value를 기준으로 정렬 / A열을 기준으로 정렬=>A열의 값들이 오름차순으로 정렬됨
print(df)

df=df.sort_values(by='A')
print(df)

     D    C    A    B
c    4    5    1    2
a  300  400  200  100
b   20   10   40   30
     D    C    A    B
c    4    5    1    2
b   20   10   40   30
a  300  400  200  100

In [145]:
# value를 기준으로 정렬 / A열을 기준으로 정렬=>A열의 값들이 내림차순으로 정렬됨
print(df)

df=df.sort_values(by='A', ascending=False)
print(df)

     D    C    A    B
c    4    5    1    2
a  300  400  200  100
b   20   10   40   30
     D    C    A    B
a  300  400  200  100
b   20   10   40   30
c    4    5    1    2